
<form class="navbar-form navbar-right" role="search" method="get" action="https://www.google.com/search">
 <div class="form-group">
  <input name="sitesearch" value="<TMPL_VAR URL>" type="hidden" />
  <input class="form-control" id="searchbox" name="q" value="" maxlength="255" type="text"
  <TMPL_IF HTML5>placeholder="Search"</TMPL_IF> />
 </div>
</form>
